* {
  box-sizing: border-box;
}

/*  *******  */
/* GTD Tasks */
/*  *******  */

.tasklist {
  margin-bottom: 2rem;
}

.task-wrapper {
  margin-bottom: 1rem;
}

.schedule {
  width: 15px;
  background-color: rgba(197, 206, 214, 0.4);
}
